---
import github from '../icons/github.svg';
import email from '../icons/email.svg';
import linkedin from '../icons/linkedin.svg';
import rss from '../icons/rss.svg';

const icons = { github, email, linkedin, rss };
const { href, label, icon } = Astro.props;
const Icon = icons[icon];
---

<a href={href} class="icon-link" aria-label={label} title={label}>
  {Icon && <Icon />}
</a>
